

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    
    justify-content: center;
    align-items: center;
    background-color: black; 
  .partnership-container {
    text-align: center;
    padding: 50px;
  }
  .quote {
    font-size: 24px;
    color: white; 
    margin-bottom: 20px;
  }
  .quote span {
    color: #2bc1c1; 
  }
  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .logos::before {
    content: '';
    position: absolute;
    left: 50%;
    height: 100px; 
    width: 2px; 
    background-color: #000; 
  }
  .logo {
    margin: 0 30px; 
  }
  .logo img {
    width: 100px;
    height: auto;
  }
  video {
    filter:grayscale(100%);
    video::-webkit-media-controls {
        display:none !important;
    }

    video::-webkit-media-controls-panel{ 
        display:none !important;}
}}

.vertical-line {
  width: 4px;
  height: 100vh; 
  background-color: white ;
  margin-left: 17%;
  margin-top: 2%;

}
  .verticall-line {
    width: 4px; 
    height: 100vh; 
    background-color: white ;
    margin-left: 100%;
  }
    
  
.txt{

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 50%;
    position: static;
    transform: translate(-50%,-50%);
    visibility: visible;
    padding-top: 20%;
    font-family:'Segoe UI', Tahoma,Verdana, sans-serif; 
    color:white;
    font-size: 10px;
text-shadow: 2px 2px 4px cornflowerblue;
letter-spacing: 2px;
  font-weight:lighter;
  text-transform: uppercase;
}
.sponser_txt{

color: white;
display: flex;
align-items: center;
margin-left: 15%;
margin-top: 70%;
position:absolute;

}
.social-media {
  .social-media a {
   color: white; 
   margin-right: 10px;
   font-size: 24px; 
   text-decoration: none;
 }
 
.social-media a:hover {
  color: white;
}

}
@media (max-width: 768px) {
  .footer-navbar .container {
    flex-direction: column; 
  }
  .footer-navbar .footer-column {
    margin-bottom: 20px; 
  }
}

.quote-container {
  margin-left: 35%;
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 24px; 
  font-weight: bold;
  color: white;
}

.quote-text {
  padding: 10px 20px; 
  background-color: rgb(144, 11, 11); 
}

.centered-text {
  display: block;
  text-align: center; 
  background-color: rgb(144, 11, 11); 
}

.quote-container:before,
.quote-container:after {
  content: '“'; 
  font-size: 50px; 
  color: #fff;
  font-weight: bold;
  position: absolute;
}

.quote-container:after {
  content: '”'; 
  right: -10px; 
  
}

.quote-container:before {
  left: -10px; 
}
.showtime-text {
  font-family: 'Impact', sans-serif; 
  color: #FFFFFF; 
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  font-size: 4em; 
  letter-spacing: 0.1em; 
  text-align: center; 
  margin-top: 20px;
  margin-bottom: 20px; 
  animation: pulse 1s infinite alternate; 
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.05);
    opacity: 0.8;
  }
}
.carousel {
  max-width: 60%;
  height: auto; 
  margin: auto;
  
}

.carousel .carousel-item {
  height: 500px; 
  margin-bottom: 10%;
}

.carousel .carousel-item img {
  position: absolute;
  margin-bottom:
  top: 0px;
  left: 0%;
  min-height:500px; 
}






