@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    font-family: Montserrat;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 50px;

}

h5{
    /* position: relative; */
    /* top: -30px; */
    font-size: 20px;
    font-weight: 100;
}
h6{
    /* position: relative;
    top: -50px; */
    font-size: 14px;
    font-weight: 100;
    color: #465b52;
}
h4{
    position: relative;
    /* top: -70px; */
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}


/* =======================================shop======================================= */

#header{
    display: flex;
    /* position: sticky;
    top: 0; */
    /* align-items: center; */
    justify-content: space-between;
    /* padding: 20px 80px; */
    background: black;
}
#header div{
    display: flex;
}
#header img{
    padding: 10px 0 10px 0;
    width: 100px;
    height: 100px;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-align: left
}
#navbar li a:hover{
    color: #ffc43a;
    transition: 0.3s ease;
}
#navbar li a.active{
    color: #574f8a;
}

#navbar2{
    padding-top: 40px;
    padding-left: 90px;
    align-items: right;
    justify-content: right;
}
#navbar2 li{
    list-style: none;
    padding: 0 20px;
}
#navbar2 li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-align: right;
}
#navbar2 li a:hover{
    color: #ffc43a;
    transition: 0.3s ease;
}
#navbar2 li a.active{
    color: #574f8a;
}

#home-image{
    background-image: url(images/image1.png);
    height: 550px;
    max-width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#home-image button{
    background-image: url(images/image8.png);
    color: white;
    border: 0;
    padding: 22px 56px 22px 56px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    background-color: transparent;
}
#home-image button:hover{
    opacity: 0.7;
}
#products{
    margin-left: 20px;
}
#products h2{
    font-weight: 900;
    font-size: 25px;
    padding-top: 70px;
    margin-left: 12px;
}

#products .products-container{
    display: flex;
    justify-content: space-between;
    /* padding-top: 20px; */
    flex-wrap: wrap;
    /* padding-left: 20px; */
}
#products .product{
    width: 23%;
    height: 500px;
    min-width: 250px;
    padding: 10px 12px;
    /* border: 1px solid black; */
    cursor: pointer;
    /* box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03) ; */
    margin: 15px 0;
    position: relative;
}
#products .product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}
#products .product img{
    width: 100%;
}
#products .product .description{
    text-align: start;    
    padding: 10px 0;
}
#products .product h6{
    padding-top: 5px;
}
#products .product i{
    font-size: 14px;
}
#products .product h4{
    padding-top: 7px;
    font-size: 15px;
}
#products .product .cart{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: 700;
    bottom: 20px;
    right: 10px;
    background-color: black;
    color:white;
    align-items: center;
    justify-content: center;
    display: flex;
}
#products .product .cart:hover{
    background-color: #ffc93e;
    /* color: black;
    background-color: white; */

}

#home-image2{
    background-image: url(images/image9.png);
    max-width: 100%;
    height: 540px;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* =======================================plans======================================= */

.container{
    width: 100%;
    min-height: 100vh;
    background: black;
}
.container h2{
    color: #fff;
    font-size: 32px;
    padding: 50px 0;
    text-align: center;
}
.price-row{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));  /*to make it responsive*/
    grid-gap: 25px;
}
.price-col{
    background: #1f283b;
    padding: 10% 15%;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}
.price-col p{
    font-size: 22px;
}
.price-col p{
    color: white;
    font-size: 44px;
    margin: 20px 0 40px;
    font-weight: 500;
}
.price-col h3 span{
    font-size: 16px;
}
.price-col ul{
    text-align: left;
    margin: 20px 0;
    color: #ddd;
    list-style: none;
}
.price-col li{
    margin: 15px 0;
}
.price-col ul li::before{
    content: '\2022';
    color: #e33058;
    font-weight: bold;
    margin-right: 8px;
}
.price-col button{
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: white;
    font-size: 15px;
    border: 1px solid #e33058;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}
.price-col button:hover{
    background: #e33058;
}

/* =======================================sign up======================================= */

#background-image{
    width: 100%;
    height: 100vh;
    background-image: url(images/image14.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #1d1c1c;
    padding: 50px 60px 60px 70px;
    text-align: center;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.input-field{
    background: #636262;
    border: #3c00a0;
    color: white;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    border: none;
    width: 280px;
    background: transparent;
    bottom: 0;
    outline: 0;
    padding: 18px 15px;
}
input::placeholder {
    color: white;
}
.input-field i{
    margin-left: 15px;
    color: white;
}
form p{
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: #3c00a0;
}
.button-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.button-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: white;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.input-group{
    height: 280px;
}
.button-field button.disable{
    background: #eaeaea;
    color: #555;
}

/* =======================================recovery======================================= */

.card {
  
    margin: 20px;
    overflow: hidden;
    border-radius: 30px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.card:hover img {
    transform: scale(1.03);
}

.card-title {
    color: #004d99; 
}

.btn-primary {
    background-color: #22a7f0; 
    border: none;
    padding-left: 20%;
}

.btn-primary:hover {
    background-color: #149cd0;
    
}

@media (max-width: 768px) {
    .card {
        margin: 10px;
    }
}

/* =======================================contact us======================================= */

